@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500&display=swap');
@import './Variables';


// PHONE VIEW

.phone-header-container{
    position: fixed;
    height: 70px;
    padding: 1%;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 5px 202px rgba(0, 0, 0, 0.5);
    color: $primaryColor;
    .phone-nav-bar{
        display: flex;
        .phone-title{
            margin-top: 9px;
            font-size: 30px;
            text-align: left;
            margin-right: 280px;
        }
    }
}

// LAPTOP+ VIEW

@mixin nav-alignment{
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-gap: 20px;
    text-align: center;
    width: 70vw;
    justify-content: end;
    margin-right: 2rem;
}

@mixin responsive {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(100%, 0%);
    font-size: 1.8rem;
    cursor: pointer;
}

.header-container{
    position: fixed;
    height: 75px;
    padding: 1%;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 5px 202px rgba(0, 0, 0, 0.5);
    color: $primaryColor;

    .nav-bar{
        display: flex;
        justify-content: center;
        align-items: center;

        .title{
            font-size: 30px;
        }

        .title:hover{
            cursor: pointer;
        }

        .fa-bars{
            color: $primaryColor;
            cursor: pointer
        }

        ul{
            @include nav-alignment();
            li{
                list-style: none;
                list-style-type: none;
                a{
                    transition: all 0.6s ease;
                    color: #000;
                    text-decoration: none;
                    font-size: 15px;
                }

                a:hover{
                    transition: all 0.6s ease;
                    text-decoration: underline;
                    text-decoration-color: rgb(6, 130, 246);
                    text-decoration-thickness: 3px;
                    color: rgb(6, 130, 246);
                }

                a:active{
                    transition: all 0.6s ease;
                    text-decoration: underline;
                    text-decoration-color: rgb(6, 130, 246);
                    text-decoration-thickness: 3px;
                    color: rgb(6, 130, 246);
                }

                .hire{
                    border: 1px solid $secondaryColor;
                    background-color: $secondaryColor;
                    padding: 20px;
                    color: #fff;
                }
            }
        }
    }
}

@media screen and (max-width: 768px){
    ul{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 500px;
        position: absolute;
        top: -100%;
        left: 0;
        opacity: 1;
        transition: all 0.4s ease;
        li{
            a{
                color: #fff;
            }
        }
    }

    .menu_icon{
        @include responsive();
    }
}